
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReadArray</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <select multiple name="arr">
            <option>mohamed</option>
            <option>youssef</option>
            <option>omar</option>
            <option>ayman</option>
        </select>
        <br />
        <input type="file" name="stdImg" />
        <br />
        <input type="submit" value="add"/>
        
    </form>
</body>
</html>
