
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManageCourses</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <form method="post">
        <select name="removeFromDept" class="align-content-center" multiple>
            @foreach (Courses item in ViewBag.coursesInDept)
            {
                <option value="@item.CourseId">@item.CourseName</option>
            }
            </select>
            <br />
        <select name="addInDept" multiple >
            @foreach (Courses item in ViewBag.coursesNotInDept)
            {
                <option value="@item.CourseId">@item.CourseName</option>
            }
        </select>
        <br />
        <input type="submit" value="change" />
    </form>
</body>
</html>
